:root {
  --spacing-25: 4px;
  --spacing-50: 8px;
  --spacing-100: 16px;
  --spacing-300: 32px;

  --item-height: var(--spacing-300);

  --border: 2px solid var(--colour-pos);

  &:has([data-theme="night"]) {
    --colour-pos: #fff;
    --colour-neg: #111;
    --colour-bg: linear-gradient(0deg,#111 0%, #212121 100%);
  }

  &:has([data-theme="day"]) {
    --colour-pos: #111;
    --colour-neg: #fff;
  }

  &:has([data-theme="test"]) {
    --colour-pos: #10b904;
    --colour-neg: #000e03;
  }
}
