:root {
  --spacing-25: 4px;
  --spacing-50: 8px;
  --spacing-100: 16px;
  --spacing-300: 32px;

  --item-height: var(--spacing-300);

  --border: 2px solid var(--colour-pos);

  &:has([data-theme="night"]) {
    --colour-pos: #fff;
    --colour-neg: #111;
    --colour-bg: linear-gradient(
      180deg,
      var(--colour-neg) 0%,
      var(--colour-neg) 50%,
      oklch(from var(--colour-neg) calc(l * 1.4) c h) 100%
    );
  }

  &:has([data-theme="day"]) {
    --colour-pos: #111;
    --colour-neg: #fff;
    --colour-bg: linear-gradient(
      oklch(from var(--colour-neg) calc(l * 0.7) c h) 0%
      var(--colour-neg) 100%
    );
  }

  &:has([data-theme="matrix"]) {
    --colour-pos: #10b904;
    --colour-neg: #000e03;
    --colour-bg: linear-gradient(
      0deg,
      var(--colour-neg) 0%,
      oklch(from var(--colour-neg) calc(l * 1.2) c h) 30%,
      oklch(from var(--colour-neg) calc(l * 1.2) c h) 70%,
      var(--colour-neg) 100%
    );
  }

  &:has([data-theme="avalon"]) {
    --colour-pos: #fca611;
    --colour-neg: #0c0200 ;
    --colour-bg: linear-gradient(
      0deg,
      oklch(from var(--colour-neg) calc(l * 1.9) c h) 0%,
      var(--colour-neg) 20%, 
      var(--colour-neg) 80%, 
      oklch(from var(--colour-neg) calc(l * 1.3) c h) 100%
    );
  }
}
