:root {
  color: var(--colour-pos);
  background: var(--colour-bg, var(--colour-neg));
  font-family: "WDXL Lubrifont JP N", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-synthesis: none;
  line-height: 1.2;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 500px;
  min-height: 100vh;
}

#app {
  margin: 0 auto;
}

.focus {
  outline: 0 solid var(--colour-pos);
  outline-offset: 0;
  transition: outline 0.1s ease;

  &:hover:not(:disabled),
  &:focus-visible,
  &:has(:focus-visible) {
    outline: 2px solid var(--colour-pos);
    outline-offset: 3px;
  }
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
